<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <add key="testingSiteURL" value="https://www.creditcards.com/" />
    <add key="browserType" value="Chrome" />
  </appSettings>
</configuration>
